fastapi==0.109.2
uvicorn[standard]==0.27.1
jinja2==3.1.2
transformers==4.42.3
torch==2.3.1
python-multipart==0.0.9
pre-commit
sentencepiece
protobuf
atlassian-python-api
beautifulsoup4
scikit-learn
httpx
lxml
sentence-transformers
qdrant-client
redis
fastembed